@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #E8F5E9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    color: white;

    .banner-section {
        background-image: url(img/Banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 35.7rem;
        padding-top: 8.125rem;
    }

    h1 {
        margin: 0 0 1.25rem 0;
        font-size: 6rem;
        font-weight: bold;
    }

    p {
        padding: 0 0 1.25rem 0;
        width: 49.8125rem;
        height: 3.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.5rem;
        font-size: 1.5rem;
    }

    button {
        width: 25.3125rem;
        height: 5.625rem;
        font-size: 1.75rem;
        color: white;
        background-color: #66BB6A;
        border-radius: 4.25rem;
        border: 0.1px solid #66BB6A;
        cursor: pointer;
    }
}


main {
    background-color: #F1F8E9;
    width: 100%;
    flex: 1;

    .container-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        gap: 5rem;
        flex-wrap: wrap;
    }


    .cards {
        width: 19.25rem;
        height: 26.625rem;
        border-radius: 0.9375rem;
        text-align: center;
        margin-top: 4.375rem;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    }

    p {

        width: 16rem;
        height: 2.25rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.625rem;
        font-size: 1rem;
        font-weight: 400;
    }

    h2 {
        margin-top: 13.6875rem;
        width: 13.6875rem;
        height: 2.0625rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.75rem;
    }

    button {
        width: 9.3rem;
        height: 3.07rem;
        border-radius: 1.8rem;
        color: white;
        background-color: #66BB6A;
        border: #66BB6A;
        margin-top: 40px;
        cursor: pointer;
    }

    #girassol {
        background-image: url(img/girassol.png);
        background-repeat: no-repeat;
    }

    #criancas {
        background-image: url(img/criancas.png);
        background-repeat: no-repeat;

        h2 {
            width: 18rem;
            padding-bottom: 0.1rem;
        }

        p {
            margin-top: 1rem;
            margin-bottom: 1.55rem;
        }

        button {
            margin-top: 0.5rem;
        }
    }

    #planta {
        background-image: url(img/planta.png);
        background-repeat: no-repeat;
    }

    #floresta {
        background-image: url(img/floresta.png);
        background-repeat: no-repeat;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 44rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    margin-bottom: 7rem;

    h3 {
        font-size: 2.5rem;
        margin-top: 1.9rem;
        margin-bottom: 0.6rem;
    }

    p {
        font-size: 1.4rem;
        color: #767676;
        width: 80%;
        margin-bottom: 5rem;
    }

    input {
        border: #F1F8E9;
        border-radius: 1.5625rem;
        width: 43.4375rem;
        height: 5.0625rem;
        padding-left: 1.5rem;
        font-size: 1.5rem;
    }

    input[type="email"] {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    select {
        appearance: none;
        border-radius: 1.5625rem;
        width: 43.4375rem;
        height: 5.0625rem;
        padding-left: 1.5625rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: #8E8E8E;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border: none;
        background-image: url(img/Vector.png);
        background-repeat: no-repeat;
        background-position: right 1.5625rem center;

        cursor: pointer;
    }

    button {
        width: 43.4375rem;
        height: 5.0625rem;
        border-radius: 1.5625rem;
        background-color: #66BB6A;
        color: #FFFFFF;
        font-size: 1.5rem;
        cursor: pointer;
        border: none;
    }
}

footer {
    background-color: #66BB6A;
    width: 100%;
    height: 6rem;
    padding-top: 2.5rem;

    p {
        color: #FFFFFF;
        font-size: 1.5rem;
        text-align: center;
        margin-top: auto;
    }
}