@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #4B5563;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    padding: 0 2rem;
    border-bottom: 2px solid #B4AEAE;

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
    }

    h1 {
        font-size: 2.5rem;
        color: #1F2937;
    }
}

.navHeader {
    width: 40%;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
    }

    li {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: #4B5563;
            font-size: 1.4rem;
        }
    }

    .btnVerdeHeader {
        background-color: #21C05C;
        height: 7vh;
        width: 28%;
        border-radius: 10px;
        min-width: 185px;

        a {
            color: #fff;
        }
    }
}

.primeiraSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 20px 0;
    margin-bottom: 20px;

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        height: auto;
        width: 50%;
        padding: 20px 0;

        h2 {
            font-size: 3.75rem;
            width: 80%;
            color: #1F2937;
        }

        p {
            width: 65%;
        }
    }
}

.boxBtnsPrimeiraSection {
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    button {
        width: 45%;
        min-width: 172px;
        height: 8vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.125rem;
        border-radius: 10px;
        cursor: pointer;
    }

    img {
        width: 15%;
    }
}

.btnVerde {
    background-color: #16A34A;
    color: #fff;
    border: none;
}

.btnBranco {
    background-color: transparent;
    border: 1px solid #2563EB;
    color: #2563EB;
}

.dadosNumericos {
    background-color: #F3F5F8;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    div {
        text-align: center;

        h2 {
            font-size: 2.25rem;
            color: #16A34A;
        }
    }
}

.comoFunciona {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;

    h2,
    h3 {
        width: 75%;
        color: #1F2937;
    }

    section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        article {
            background-color: #F3F5F8;
            border-radius: 10px;
            width: 30%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            div,
            p {
                width: 90%;
            }
        }
    }

    .caixaFlexivel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 8%;
        }

        div,
        h2 {
            width: 90%;
        }
    }

    .tituloParaDoadores {
        color: #16A34A;
        font-weight: 400;
    }

    .tituloParaAdquirentes {
        color: #2563EB;
        font-weight: 400;
    }
}

.produtosDisponiveis {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    align-items: center;
    background-color: #F3F5F8;

    h2 {
        color: #1F2937;
        font-size: 2rem;
        width: 80%;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: normal;
        width: 80%;
        color: #4B5563;
    }

    section {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1.5rem;
        width: 100%;
        padding: 0 1rem;

        article {
            border: solid 2px #16A34A;
            border-radius: 8px;
            margin-top: 2rem;
            width: 17rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 2rem;
            text-align: center;
            height: 25rem;

            img {
                height: 25vh;
                width: 100%;
            }

            h3 {
                color: #09090B;
                font-weight: normal;
            }

            p {
                width: 80%;
                color: #4B5563;
            }

            button {
                border: none;
                border-radius: 10px;
                background-color: #21C05C;
                color: #FFF;
                width: 45%;
                height: 2.25rem;
                cursor: pointer;
            }
        }
    }
}

.opinioes {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;

    .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 2rem;

        h2 {
            color: #1F2937;
            font-size: 2.25rem;
        }

        h3 {
            color: #4B5563;
            font-size: 1.25rem;
            font-weight: normal;
        }
    }

    .container-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        article {
            border-top: 1px solid #9CA3AF;
            border-right: 1px solid #9CA3AF;
            border-bottom: 1px solid #9CA3AF;
            border-left: 4px solid #9CA3AF;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 21.125rem;
            height: 18.75rem;
            gap: 2rem;

            img {
                width: 40%;
            }

            p {
                font-size: 1rem;
                width: 90%;
            }

            .info {
                display: flex;
                gap: 1rem;

                .bio {
                    width: 70%;

                    h2 {
                        font-size: 14px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                img {
                    width: 15%;
                }

                #recicla-icon {
                    width: 20%;
                }
            }
        }
    }
}

.diferenca {
    background-color: #F3F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    h2 {
        font-size: 2.25rem;
        color: #000000;
    }

    h3 {
        width: 45%;
        font-size: 1.25rem;
        font-weight: normal;
        color: #000000;
    }

    div {
        display: flex;
        gap: 1rem;

        button {
            font-size: 1rem;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            width: 15rem;
            padding: 1rem;
        }

        #comecar {
            border: none;
            background-color: #16A34A;
            color: #FFF;
        }

        #saiba {
            border: solid 2px #16A34A;
            color: #16A34A;
        }
    }
}

footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;

    .container-links {
        display: flex;
        justify-content: space-around;
        padding-bottom: 3rem;
        border-bottom: #9CA3AF solid 1px;

        ul {
            li {
                color: #9CA3AF;
            }
        }

        .texto1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            p {
                width: 100%;
            }
            div {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                h1 {
                    font-size: 1.25rem;
                    color: #fff;
                }

                img {
                    width: 20%;
                    height: 80%;
                }
                
            }
        }
    }

    p {
        font-size: 1rem;
        color: #9CA3AF;
        width: 70%;
    }

    div {
        width: 50%;

        h1 {
            color: #FFF;
            font-size: 1rem;
        }

        p {
            font-size: 1rem;
            color: #9CA3AF;
            width: 38%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .imagens {
            display: flex;
            gap: 1rem;
        }
    }

    .copyR {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        width: 100%;
        font-size: 1rem;
    }
}


@media (max-width: 900px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1.5rem 1rem;
        gap: 1rem;
    }

    header div {
        width: auto;
    }

    .navHeader {
        width: 100%;
        padding-bottom: 2rem;
    }

    .primeiraSection {
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
        text-align: center;
        gap: 2rem;
    }

    .primeiraSection section {
        width: 95%;
        align-items: center;

        h2,
        p {
            width: 100%;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    .boxBtnsPrimeiraSection {
        width: 80%;

        .btnVerde {
            gap: 1rem;
        }

        .btnBranco {
            gap: 1rem;
        }
    }

    .simbolo-recicla {
        width: 70%;
        max-width: 400px;
    }

    .comoFunciona {
        height: auto;
        padding: 3rem 1rem;
        text-align: center;
        gap: 2rem;

        h3 {
            width: 100%;
        }

        section {
            flex-direction: column;
            align-items: center;
            text-align: start;
            gap: 1.5rem;

            article {
                width: 90%;
                height: auto;
                padding: 1.5rem;
                gap: 1rem;
            }

            .caixaFlexivel {
                gap: 1rem;

                img {
                    width: 15%;
                }

                .tituloParaAdquirentes {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    header {
        padding: 1rem;
    }

    header div h1 {
        font-size: 1.8rem;
    }

    .navHeader ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;

        li a {
            font-size: 0.9rem;
        }

        .btnVerdeHeader {
            min-width: 150px;
            height: 6vh;
        }
    }

    .primeiraSection {
        padding: 1rem;

        section {
            width: 100%;

            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }

    .boxBtnsPrimeiraSection {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 1rem;

        button {
            width: 100%;
            min-width: auto;
            justify-content: center;

            img {
                width: 10%;
            }
        }
    }

    .simbolo-recicla {
        width: 90%;
    }

    .dadosNumericos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        padding: 2rem 2rem;
        gap: 1.5rem;

        div {
            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.75rem;
            }
        }
    }

    .comoFunciona {
        padding: 2rem 1rem;

        h2 {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 1rem;
        }

        section article {
            width: 100%;

            div {
                font-size: 0.8rem;
            }

            h3 {
                font-size: 1rem;
            }
        }
    }

    .produtosDisponiveis {
        section {
            article {
                width: 90%;
                height: auto;
                gap: 0.5rem;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .opinioes {

        .texto {
            text-align: center;
        }

        .container-cards {
            display: flex;
            flex-direction: column;
            align-items: center;

            article {
                width: 90%;
                height: auto;
                padding: 1.5rem;
            }
        }

    }

    .diferenca {
        padding: 2rem 1rem;

        h2 {
            font-size: 1.8rem;
        }

        h3 {
            width: 100%;
            font-size: 1rem;
        }

        div {
            flex-direction: column;
            width: 90%;

            button {
                width: 100%;
            }
        }
    }

    footer {
        .container-links {
            height: auto;
            flex-direction: column;
            gap: 2rem;

            div {
                width: 100%;

                p {
                    width: 100%;
                }
            }
        }

        .copyR {
            text-align: center;
            width: 100%;
            font-size: 10px;
        }
    }

}